.navbar{
    background-color:#371f76;
    color:white;
}
.card-header{
    background-color:#795695;
    color: 36454F;
    font-weight: bolder;
}
.btn1{
    background-color:#c8a4d4;
    border: 4px #65358d;
}
.btn3{
    background-color:#71a9f7;
    border: 4px #65358d;
}
.btn2{
    background-color:#6b5ca5;
    border: 4px #65358d;
}

.form-label{
    color: hwb(210 96% 3%);
    font-weight: normal;
}
.card{
    background-color:#ac94f4;
    color: white;
}
